{% extends "layout.html" %}

{% block main %}
    <section class="create">
        <div class="container py-5">
            <form method="post" action="{{ url_for('create_event') }}" enctype="multipart/form-data">
            <!-- Event title input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form6Example3" class="form-control" name="title" required />
                    <label class="form-label" for="form6Example3">Event Title</label>
                </div>
            <!-- Event date input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="date" id="form6Example3" class="form-control" name="date" required />
                    <label class="form-label" for="form6Example3">Date</label>
                </div>
            <!-- Event location input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form6Example3" class="form-control" name="location" required />
                    <label class="form-label" for="form6Example3">Location</label>
                </div>
            <!-- Event description input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <textarea name="description" class="form-control" id="form6Example7" rows="4" required></textarea>
                    <label class="form-label" for="form6Example7">
                        Description
                    </label>
                </div>
            <!-- Button that submits form to create event -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Create Opportunity</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}