{% extends "layout.html" %}

{% block main %}
<!-- Simple about us page -->
    <section class="grn-bg">
        <div class="container py-4">
            <div style="color: #ffffff;">
                <h1>
                    Bridge: Connecting Cultures on Campus
                </h1>
                <br>
                <br>
                <h3>
                    Connect. Collaborate. Cultivate.
                </h3>
                <p>
                    Bridge is a social media app designed to connect
                    international communities around colleges in the United
                    States, currently with a specific focus on individuals
                    from the Ex-Yugoslavia region. Our goal is to foster a
                    sense of community, potentially facilitate cultural
                    exchange, and provide valuable networking
                    opportunities. The app combines social features coupled with unique 'Events' and
                    'Opportunities' pages to enhance user engagement with their
                    community.
                </p>
                <br>
                <h3>
                    Key Features:
                </h3>
                <ul>
                    <li>
                        Global Networking: Connect with students from diverse backgrounds and
                        cultures at colleges nationwide.
                    </li>
                    <li>
                        Follow what students from around the world are doing in their universities
                    </li>
                    <li>
                        Cultural Exchange: Share your traditions, customs, and experiences with
                        peers from around the world.
                    </li>
                    <li>
                        Event Hub: Discover and join multicultural events, workshops, and festivities
                        happening on your campus and beyond.
                    </li>
                    <li>
                        Collaborative Opportunities: Initiate or join projects that promote cultural
                        understanding, tolerance, and collaboration.
                    </li>
                </ul>
                <br>
                <h3>
                    Why Bridge?
                </h3>
                <ul>
                    <li>
                        Empowerment: Bridge empowers you to expand your social circle, enrich
                        your college experience, and broaden your worldview.
                    </li>
                    <li>
                        Inclusivity: We believe in building bridges, not walls. Bridge embraces
                        inclusivity, tolerance, and the celebration of differences.
                    </li>
                    <li>
                        Global Perspective: Gain a global perspective without leaving campus.
                        Learn, grow, and thrive in a community that values diversity.
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </section>
{% endblock %}