{% extends "layout.html" %}

{% block main %}
    <section class="grn-bg vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="/static/bosnia_bridge.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form action="/register" method="post">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">Bridge</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register for your account</h5>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="name" id="form1Example1" name="fname" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form1Example1">First Name</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="name" id="form1Example1" name="lname" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form1Example1">Last Name</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="username" id="form1Example1" name="username" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form1Example1">Username</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="email" id="form1Example1" name="email" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form1Example1">Email</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" id="form1Example2" name="password" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form1Example2">Password</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" id="form1Example2" name="confirmation" class="form-control form-control-lg" required />
                                            <label class="form-label" for="form1Example2">Password Confirmation</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <select class="form-select" id="floatingSelectGrid" name="college">
                                                {% for college in colleges %}
                                                    <option value="{{ college.id }}">{{ college.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <select class="form-select" id="floatingSelectGrid" name="country">
                                                {% for country in countries %}
                                                    <option value="{{ country.id }}">{{ country.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div data-mdb-input-init class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit" style="background-color: #468162;">Register</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}